.slidecontainer {
    width: 70%;
    margin: auto;
    padding : 30px;
}

h3 {
    text-align: center; }

.eachslide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 50vh;
}

.eachslide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.eachfade {
    display: flex;
}

.eachfade .imagecontainer {
    width: 75%;
    overflow: hidden;
}

.eachfade .imagecontainer img {
    width: 100%;
}

.eachfade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}