.MovieDetail {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    color : white;
}

.Movieposterbox {
    /*border : 2px solid yellow;*/
    padding : 4%;
    height : 25%;
    width : 25%;
}

.Movieposter {
    border : 1px solid white;
    border-radius : 5%;
    height : 100%;
    width : 100%;
}

.Movieinfobox {
    width : 100%;
    /*border : 2px solid red;*/
}

/* .MovieGenre {
    font : bold
    border : 1px solid white;
    border-radius: 40%;
    margin-left : 45%;
    padding : 4px;
    width : 6%;
} */

.Movieratingbox {
    /*border : 2px solid yellow;*/
    color : #8c8c8c;
    line-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MovieRating {
    /*border : 2px solid white;*/
    padding-left : 15px;
    padding-right : 15px;
}

.yourrating {
    width : 25%;
}
.tick {
    max-height : 14px;
    max-width : 14px;
}
.Moviebookticket {
    width : 20%;
    border : 3px solid #3377ff;
    padding : 8px;
    background-color: #3377ff;
    color : white;
    margin : 10px ;
}
/* .SummaryLink:hover{
    color : white;
    border : 2px solid yellow;
    padding : 4px;
    text-decoration: underline;
}


.SummaryLink:active {
    color : white;
border : 2px solid yellow;
    padding : 4px;
    text-decoration: underline;
}

.SummaryLink.active {
    color : yellow;
    border : 2px solid yellow;
    padding : 4px;
    text-decoration: underline;
} */

.SummaryLink {
    color : #8c8c8c;
    text-decoration: none;
    margin : 3%;
    padding-top : 2%;
    padding-bottom: 2%;
    /*border : 2px solid yellow;*/
}


.Summaryreviews {
    list-style-type: none;
    /*border : 2px solid yellow;*/
}

.summaryreviewslist {
    /* border : 1px solid #4e5565; */
    margin : 4px;
    display : inline;
    padding : 10px;

}

.Moviesummarybox {
    padding : 5px;
}

.SingleReviewBox {
    border:1px solid white;
    display: flex;
    flex-direction: row;
}

.UserNameBox {
    border : 1px solid yellow;
}

.UserName {
    /*border : 1px solid green;*/
    width : 100%;
}
.inputReview {
    width : 80%;
    margin-right: 44px;
    margin-top : 10px;
    padding : 10px;
}