/* color palette : blue - #33adff, sea - #33cccc; pink - #ff3377; orange - #ff9900; custar - #ffd633*/

.ProfilePage {
    background-color: #ffe066;
    /* min-height: 80vh; */
}

.Summaryreviews {
    list-style-type: none;
    padding-top: 30px;
    /* border : 2px solid black; */
}

.summaryreviewslist {
    border-bottom: 2px solid #4e5565;
    padding: 10px;
    display : inline;
}

.SummaryLink:hover{
    color : #8c8c8c;
    /*border : 2px solid yellow;*/
    padding : 4px;
    text-decoration: underline;
}


.SummaryLink:active {
    color : #8c8c8c;
/*border : 2px solid yellow;*/
    padding : 4px;
    text-decoration: underline;
}

.SummaryLink.active {
    color : yellow;
    border : 2px solid yellow;
    padding : 4px;
    text-decoration: underline;
}

.SummaryLink {
    color : black;
    text-decoration: none;
    margin : 3%;
    /*border : 2px solid yellow;*/
    width : 25%;
}

.Moviesummarybox {
    /* border: 2px solid green; */
    padding-bottom: 5%;
}

.profileBox {
    background-color: aliceblue;
    margin-top : 35px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid rgb(203, 221, 236);
}

.myName {
    /* border: 2px solid black;  */
    margin : 2px;
}

.inputbox {
    height : 30px;
    margin-top : 2%;
    /* border: 2px solid black; */
}

.mygender {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.genderlabel {
    /* border : 2px solid yellow; */
    margin-top : 15px;
}

.greywords {
    color : gray;
    font-style: italic;
    font-size: 14px;
    margin-right : 15px;
}

.mybd {
    /* border : 2px solid yellow; */
    padding : 15px;
}

.submitbtn {
    background-color: #282c34;
    color : white;
    height : 45px;
    width : 190px;
    border-radius: 10%;
}

.warning {
    color : red;
    /* border : 2px solid black; */
    margin : -15px;
}

.usertype {
    height : 40px;
    width : 200px;
    margin-bottom : 4%;
}