.Box {
    background-color: #8b95a7;
    padding : 30px;
    width : 70%;
    margin: auto;

}

.container {
    width: 600px;
    margin: auto;
}

.grid td {
    width: 80px;
    height: 50px;
    border: 2px solid #424957;
    text-align: center;
    float: left;
    margin: 5px;
    border-radius: 10%;
    font-size : 15px;
}

.grid td:hover {
    opacity: .7;

}

.notAvailable {
    background-color: white;
    color:#8b95a7;
    display: inline-block;
    cursor: not-allowed;
}

.reserved {
    background-color: white;
    color:#8b95a7;
    display: inline-block;
    cursor: not-allowed;
}

.selected {
    background-color: #424957;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.reserved::after {
    content: 'RESERVED'
}

.selected::after {
    content: 'SELECTED'
}

.available::after {
    content: 'AVAILABLE'
}

.available {
    color: #333;
    background-color:#ffff66;
    cursor: pointer;
}

li {
    list-style: none;
}

.btnmargin{
    margin-top: 15px;
}
