.loginbox {
    background-color: #ffe066;
}
.login {
    border : 2px solid gray;
    background-color: aliceblue;
    width : 30%;
    margin-left : 35%;
    padding-bottom: 5%;
}
.signup {
    border : 2px solid gray;
    background-color: aliceblue;
    width : 50%;
    margin-left : 25%;
    padding-bottom: 5%;
}
.inputbox {
    height : 30px;
    margin : 2%;
    /* border: 2px solid black; */
}
.submitbtn {
    background-color: #282c34;
    color : white;
    height : 45px;
    width : 190px;
    border-radius: 10%;
    /* margin-top : 10%; */
}
.heading {
    border-bottom: 2px solid #4e5565;
    padding : 2%;
    width : 30%;
    margin-left : 35%;
    color : maroon;
}

.warning {
    color : red;
    /* border : 2px solid black; */
    margin : -15px;
}