.ShowTheatresBox {
    background-color: #c5cad3;
    padding : 20px;
}

.SingleTheatreBox {
    display: flex;
    flex-direction: row;
    /*border:1px solid white;*/
    padding : 5px;
    padding-left: 25px;

}

.MovieName {
    /* border : 1px solid green; */
    width : 30%;
}

.DateBox {
    background-color: #f7b161;
    height : 30px;
    width : 30%;
    /* border : 2px solid green; */
}

.TimeButton {
    height : 100%;
    /*background-color: white;*/
}

.TimeButton:active {
    background-color: #282c34;
    color : white;
}